@charset "utf-8";
/*imglist*/
.imglist {
    clear: both;
}
.imglist dl {
    padding: 10px;
    border-bottom: #ebdfd1 1px solid;
    clear: both;
}
.imglist dl dt {
    float: left;
    padding-top: 8px;
}
.imglist dl dt img {
    width: 80px;
    height: 50px;
}
.imglist dl dd p{
    color: #666;
    font-size: 12px;
    text-indent: 0;
}
.imglist dl dd.txt {
    width: 600px;
    padding-left: 10px;
    float: left;
}
.imglist dl dd.txt small {
    padding-left: 10px;
    color: #F60;
}
.imglist dl dd.txt  a{
    color: green;
}
.imglist dl dd.start{
    width: 120px;
    padding: 5px 0;
    text-align: center;
    float: left;
}
.imglist dl dd.start {
    float: left;
    text-align: center;
    color: #F60;
    background: #ebdfd1;
    font-size: 12px;
}

.imglist dl dd.start center{
    font-size: 22px;
}
/*xzys*/
.xzys {
    width: 400px;
    margin-top: 10px;
    background: #FFF;
    border: 1px solid #ebdbd3;
}

.xzys h2 {
    background: #ebdbd3;
    padding-left: 10px;
}
.xzys span a{
    font-size: 12px;
    font-weight: normal;
    padding-right: 8px;
}
.xzys dl {
    padding-top: 10px;
    width: 400px;
    height: 95px;
    color: #333;
    border-bottom: 1px solid #ebdbd3;
}
.xzys dl dt {
    float: left;
    text-align: center;
    width: 100px;
}
.xzys dl dt img {
    width: 80px;
}
.xzys dl dd {
    float: left;
    width: 290px;
    padding-right: 10px;
    font-size: 12px;
}
.xzys .desc {
    padding: 10px;
    font-size: 12px;
    text-indent: 2em;
    color: gray;
    height: 72px;
}
.xzys .m {
    width: 400px;
    height: 32px;
    line-height: 32px;
    background: #ebdbd3;
}
.xzys .m li {
    float: left;
    width: 15%;
    text-align: center;

}
/*三列展示*/
.sxys3,
.xzys3 {
    width: 400px;
    margin-top: 10px;
    background: #FFF;
    border: 1px solid #ebdbd3;
}
.sxys3 {
    width: 270px;
}
.xzys3 {
    width: 267px;
}

.sxys3 h2,
.xzys3 h2 {
    background: #ebdbd3;
    padding-left: 10px;
}
.sxys3 span a,
.xzys3 span a {
    font-size: 12px;
    font-weight: normal;
    padding-right: 8px;
}
.sxys3 span a {
    padding-right: 2px;
}
.xzys3 span a {
    padding-right: 2px;
}
.sxys3 dl,
.xzys3 dl {
    padding-top: 10px;
    width: 400px;
    height: 95px;
    color: #333;
    border-bottom: 1px solid #ebdbd3;
}
.xzys3 dl {
    padding-top: 0;
}
.sxys3 dl {
    width: 100%;
}
.xzys3 dl {
    width: 100%;
}
.sxys3 dl dt,
.xzys3 dl dt {
    float: left;
    text-align: center;
    width: 100px;
}
.xzys3 dl dt {
    padding-top: 6px;
}
.sxys3 dl dt img {
    width: 80px;
}
.xzys3 dl dt img {
    width: 60px;
}
.sxys3 dl dd,
.xzys3 dl dd {
    float: left;
    width: 290px;
    padding-right: 10px;
    font-size: 12px;
}
.sxys3 dl dd {
    width: 160px;
}
.xzys3 dl dd {
    width: 145px;
}
.sxys3 .desc,
.xzys3 .desc {
    padding: 10px;
    font-size: 12px;
    text-indent: 2em;
    color: gray;
    height: 72px;
}
.sxys3 .m,
.xzys3 .m {
    width: 400px;
    height: 32px;
    line-height: 32px;
    background: #ebdbd3;
}
.sxys3 .m li,
.xzys3 .m li {
    float: left;
    width: 15%;
    text-align: center;

}

/*运势文章专家维度*/
.fa-expert ul li {
    float: left;
    width: 20%;
    text-align: center;
}
.fa-expert ul li img {
    width: 152px;
}

/*运势文章时间维度*/
.fa-time div {
    float: left;
    width: 400px;
    height: 217px;
    margin: 0 5px;
    background: #fff;
    border: 1px solid #ebdbd3;
}
.fa-time div.month,
.fa-time div.year {
    margin-top: 5px;
}
.fa-time div h2 {
    background: #ebdbd3;
    padding-left: 5px;
}
.fa-time div h2 .fr {
    margin-right:5px;
}
.fa-time div ul li {
    padding-left: 22px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    border-bottom:1px dashed #ccc;
}
/*生肖专家运势*/
.fa-sx li {
    float: left;
    width: 8.3%;
}
.fa-sx li img {
    width: 55px;
}
/*运势列表页筛选导航*/
.sear-menu {
    padding: 0 20px;
    border: 1px solid #e0e0e0;
}
.sear-menu .sear-list {
    position: relative;
    height: 25px;
    padding: 5px 0px 5px 45px;
    border-bottom: 1px dotted #d5d5d5;
    overflow: hidden;
}
.sear-menu .sear-list .sear-result {
    display: inline-block;
    margin-right: 6px;
    border: 1px solid #e5e5e5;
    padding: 0 10px;
    vertical-align: middle;
    background: #fbfbfb;
    color: #f60;
    font-size: 12px;
    text-indent: 0;
}
.sear-menu .sear-list .sear-result em,
.sear-menu .sear-list .sear-result .del-btn {
    display: inline-block;
    vertical-align: middle;
    _vertical-align: -2px;
}
.sear-menu .sear-list .sear-result em {
    font-style: normal;
    font-weight: normal;
}
.sear-menu .sear-list .sear-result .del-btn {
    margin-left: 3px;
    line-height: 20px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 20px;
    _font-size: 14px;
}
.sear-menu .sear-list .sear-result .grey {
    color: #ccc;
    cursor: default;
}
.sear-menu .sear-list h5 {
    position: absolute;
    left: 0;
    top: 3px;
    color: #999;
    font-size: 12px;
}
.sear-menu .sear-list ul {
    width: 100%;
    word-wrap: break-word;
}
.sear-menu .sear-list ul a {
    display: inline-block;
    padding: 1px 7px 2px;
}
.sear-menu .sear-list li {
    float: left;
    /*margin: 0 20px 6px 0;*/
    line-height: 22px;
    white-space: nowrap;
    display: inline;
}
.sear-menu .sear-list li.cur a {
    padding: 1px 7px 2px;
    background: #f60;
    color: #fff;
    border-radius: 1px;
}
.sear-menu .sear-list li.grep a {
    color: #ccc;
    cursor: default;
}
.sear-menu .pl70 {
    padding-left: 70px;
}
.sear-menu .last {
    border-bottom: none;
}
.fa-list dl {
    padding: 10px;
    border-bottom: 1px dashed #777;
    background: #eee;
}
.fa-list dl a {
    color: #555;
}
.fa-list dl.cur {
    background: #fff;
}
.fa-list dl.cur a {
    color: #f60;
}
.fa-list dt a {
    color: #9A7240;
    font-size: 16px;
}
.fa-list dt a:hover {
    color: #f60;
}
.fa-list dd {
    height: 48px;
    color: #777;
}
.fa-list dd .desc {
    float: left;
    width: 90%;
}
.fa-list dd .detail {
    float: right;
}

.fa-list dt {
    float: left;
}
.fa-list dt img {
    width: 150px;
    height: 115px;
}
.fa-list dd {
    float: left;
    width: 620px;
    padding-left: 10px;
}
.fa-list dd .title {
    font-size: 16px;
}
.fa-list dd .desc a {
    padding-left: 5px;
}
.fa-show .title {
    margin-top: 10px;
    font-size: 20px;
}
.fa-show .copyright {
    color: #aaa;
}
.fa-show .fa-sx {
    margin-top: 10px;
}
.fa-show .fa-sx li {
    width: auto;
    margin: 0 0.6%;
}
.fa-show .fa-sx li.cur a {
    color: #f60;
    font-size: 18px;
    font-weight: bold;
}
.fa-show p {
    text-align: center;
    text-indent: 0;
}
.fa-show .cont {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    line-height: 150%;
}
.top-fixed, .nav-fixed {
    position: fixed;
    z-index: 999999;
    top: 3px;
}
.top-fixed .fixed-title {
    width: 1000px;
    margin: 0 auto;
    line-height: 48px;
    color: #f60;
    font-size: 16px;
}
.top-fixed {
    left: 0;
    top: 0;
    background-color: #EBE3DC;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #ccc;
}
.fa-show .nav-fixed {
    width: 580px;
    text-align: right;
    font-size: 16px;
    margin-left: 220px;
}
.fa-show .nav-fixed li {
    margin: 0 2.5%;
}

/*content*/
.thumb {
    /*  width:200px;
    height:125px;
    */
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}

.faq {
    border-top: 1px dashed #ccc;
    padding-top: 10px;
    margin-top: 10px;
}
.thumb img {
    width:200px;
}

/*intro*/
.intro {
    background:#fff;
    border-top:0;
    clear:both;
}
.intro form {
    margin:8px 0;
}
.intro2 {
    height:140px;
    overflow:hidden;
    line-height:22px;
}
.zk {
    width:100%;
    height:24px;
    line-height:24px;
    text-align:center;
    border-top:#e7caa7 1px dotted;
}
.key {
    float:right;
    width:80px;
    height:24px;
    line-height:24px;
    background:#e7caa7;
    cursor:pointer;
}
.yszs {
    width:476px;
    float:left;
    padding-left:2em;
    line-height:22px;
}
.yszs ul {
    width:100%;
}
.yszs ul li {
    float:left;
    width:50%;
    list-style:circle;
}
/*content*/
.content {
}
.content ul {
    clear:both;
}
.list,ul.list {
    clear:both;
    height:auto;
    line-height:24px;
}
.art-list li {
    float: left;
    width: 50%;
    text-align: center;
}
.list li {
    width:160px;
    float:left;
}
.xzxxlist li {
    width:260px;
    float:left;
}
.content hr,.intro hr {
    padding:5px 0;
    border-top:#c7a478 1px solid;
    border-right:0;
    border-left:0;
    border-bottom:0;
}
/*生日密码列表*/
.srmmlist {
    text-align:center;
}
.srmmlist ul {
    clear:both;
}
.srmmlist li {
    margin-top:10px;
    float:left;
    width:22px;
    border-right:#e7caa7 1px solid;
    border-top:#e7caa7 1px solid;
    border-bottom:#e7caa7 1px solid;
    background:#f5e5d2;
}
.srmmlist li.firstrow {
    width:50px;
    border-left:#e7caa7 1px solid;
    font-weight:bold;
    background:#e7caa7;
}
.xzthumb {
    float:right;
    width:200px;
}
.xzthumb img {
    margin:0;
    padding:0;
}
.xzthumb li {
    width:200px;
    height:28px;
    line-height:28px;
    margin-bottom:2px;
    text-align:center;
    background:#e7caa7;
}
.xzthumb li a {
    color:#191919;
}
.xzthumb li:hover {
    background:#9a7240;
}
.xzthumb li:hover a {
    color:#FFF;
}
.xzthumb li.on a {
    color:#F60;
}
.xzintro {
    width:600px;
    /*margin-left:10px;
    */
    float:left;
}
.xzintro ul {
    margin-left:2em;
}
.xzintro li {
    width:50%;
    float:left;
    list-style:circle;
}
/*星座导航*/
.astronav {
    width:100%;
    height:96px;
    background:#9a7240;
}
.astronav ul {
    padding:5px 5px 0;
}
.astronav li {
    float:left;
    width:8.33%;
    padding:5px 0;
    text-align:center;
}
.astronav li.on {
    background:#e7caa7;
}
.astronav li a {
    color:#FFF;
}
.astronav li img {
    width:56px;
    height:56px;
    padding:0;
    margin:0;
}
.astronav li center {
    height:14px;
}
/* 生肖导航 */
.shengxiaonav {
    width: auto;
    height: 96px;
    background: #faf3e2;
    border: #9a7240 1px solid;
    border-bottom: 1px dashed #ccc;
    border-top-width: 0;
}
.shengxiaonav li{
    width:56px;
    height:76px;
    padding: 5px 6px;
}
.shengxiaonav li a{
    color:#000;
}
.shengxiaonav li.on{
    background:none;
}
.shengxiaonav li.on a,
.shengxiaonav li a:hover{
    color:#f60;
    font-size:18px;
    line-height:18px;
    font-weight:bold;
}
/*生命灵数*/
.smls a {
    padding-right:8px;
    text-decoration:underline;
}
.sxzdimglist li {
    width:100px;
    padding:5px;
    float:left;
}
a.btn {
    padding:6px 5px;
}
.qian {
    width:500px;
    float:left;
    text-align:center;
}
.qian p {
    text-indent:0;
}
.reput {
    padding-left:100px;
    margin-top:10px;
}
.xzlist li {
    width:135px;
    font-size:12px;
    float:left;
}
/*subnav*/

.subnav {
    height:40px;
    line-height:40px;
    overflow:hidden;
    background:#D15F54;
}
.subnav ul {
    padding-top:5px;
    float:left;
}
.subnav li {
    float:left;
    height:40px;
    line-height:35px;
    padding:0 8.8px;
    font-size:14px;
    font-family:Verdana,Arial,Tahoma,"微软雅黑","宋体";
    background:#dd8279;
    -moz-border-radius:3px;
    /* Gecko browsers */
    -webkit-border-radius:3px;
    /* Webkit browsers */
    border-radius:3px;
    margin:0 2px;
    /*border-right:#785728 1px solid;
    */
}
.subnav li a {
    color:#FFF;
}
.subnav li.on {
    background: #fff;

    /*border-top:#9a7240 1px solid;
    */
}
.subnav li.on a {
    color: #D15F54;
}
/*userinfo*/
.userinfopanel {
    background:#faf3e2;
    border:#9a7240 1px solid;
}
.userinfopanel form {
    margin:8px 0;
}
.userinfo li {
    float:left;
    padding-right:25px;
}
.userinfo a {
    font-weight:bold;
}
/*sublist*/
.sublist {
    line-height:24px;
    height:50px;
    line-height:50px;
}
.sublist ul {
    }.sublist li {
    float:left;
    padding:2px 8px;
    line-height:20px;
    color:#333;
    background:#E7CAA7;
    border:#E7Ce46 1px solid;
    -moz-border-radius:2px;
    /* Gecko browsers */
    -webkit-border-radius:2px;
    /* Webkit browsers */
    border-radius:2px;
    cursor:pointer;
    margin:3px;
}
.sublist li a {
    color:#333;
}
.sublist li:hover {
    background:#9a7240;
}
.sublist li:hover a {
    color:#FFF;
    text-decoration:none;
}
.sublist li.on a {
    color:#F60;
}
/*relateapp*/

.relateapp {
    line-height:24px;
    height:auto;
}
.relateapp ul {
    }.relateapp li {
    float:left;
    width:95px;
    height:28px;
    line-height:28px;
    overflow:hidden;
    margin:2px;
    font-size:12px;
    text-align:center;
    font-family:Verdana,Arial,Tahoma,"微软雅黑","宋体";
    background:#E7CAA7;
}
.relateapp li a {
    color:#191919;
}
.relateapp li:hover {
    background:#9a7240;
}
.relateapp li:hover a {
    color:#FFF;
}
.relateapp li.on a {
    color:#F60;
}
/*tabs*/

.tab_tit {
    width:100%;
    height:36px;
    overflow:hidden;
}
.tab_tit li {
    float:left;
    padding:0 8px;
    margin:0 3px;
    background:#ebddcd;
    border:#bca78e 1px solid;
    -moz-border-radius:3px;
    /* Gecko browsers */

    -webkit-border-radius:3px;
    /* Webkit browsers */

    border-radius:3px;
    cursor:pointer;
}
.tab_tit li.show,.tab_tit li.hover {
    color:#FFF;
    background:#856236;
    border:#5c3f1a 1px solid;
}
.tab_tit li.show  {
    cursor:default;
}
.tab_tit li.show a {
    color:#FFF;
}
.tab_con {
    }.tab_con .tip {
    color:#666;
    font-size:12px;
    line-height:16px;
}
.nf_tab_con ul li{
    float:left;
    width: 10%;
    text-align: center;
}
.nf_tab_con ul li.on{
    background:#ebddcd;
}
.nf_tab_con ul li.on a{
    color:#f60;
    font-weight:bold;
}
/*wugeshuli*/

.wuge {
    color:#333;
}
.wuge strong {
    color:red;
}
.wuge span {
    color:#999;
}
.pingfen_left li {
    float:left;
    width:55px;
    font-size:12px;
    margin:0 5px;
    line-height:16px;
    text-align:center;
    color:#666;
}
/*pingfen*/

.pingfen_left li div {
    float:left;
    width:55px;
    width:55px;
    text-align:center;
    background:url(img/tian_zi_ge_bg.gif) no-repeat center 0px;
    font-size:34px;
    font-weight:bold;
    line-height:56px;
    color:black;
}
.pingfen_right {
    float:right;
    width:168px;
}
.pingfen_right .pingfen_right_ass {
    float:left;
    width:168px;
    height:69px;
    background:url(img/xingming_pingfen_bg.gif);
}
.pingfen_right .pingfen_right_ass span {
    float:right;
    font-size:33px;
    padding-right:25px;
    color:#EF1C23;
    font-weight:bold;
    line-height:55px;
}
.pingfen_right .pingfen_right_desc {
    float:left;
    width:168px;
    line-height:25px;
    font-size:12px;
    color:#666;
    text-align:center;
}
/*table*/

.nobor {
    border:none;
}
.nobor td {
    padding:0;
}
.table {
    margin-bottom:-1px;
    background:#fffcf5;
    line-height:32px;
}
.table .th {
    color:#8a492e;
    font-weight:bold;
    background:#f5e9dc;
}
.table tr {
    border-bottom:1px #ebdbd3 solid;
}
.table td {
    text-align:center;
    padding:0 10px;
    border:1px solid #ebdbd3;
}
.table td span.blue {
    color: #0000FF;
}
.table td big {
    font-size:18px;
    font-weight:bold;
    padding-right:5px;
    color:#000;
}
.table td.tal {
    text-align:left;
    padding-left:10px;
}
/*zhiwen*/

.finger_choose {
    background:url(img/suanming_zw.png) top right no-repeat;
}
.finger_choose li {
    padding:10px 0;
    height:20px;
    line-height:20px;
    vertical-align:middle;
    font-size:14px;
    color:#813d20;
}
.finger_choose li span {
    width:55px;
    float:left;
}
.finger_choose label {
    padding-right:30px;
}
/*解梦*/
.jmlist {
    }.jmlist li {
    width:125px;
    height:22px;
    line-height:22px;
    margin-right:10px;
    overflow:hidden;
    float:left;
}
.jmlist2 {
    float:left;
}
.jmlist2 h1 {
    clear:both;
}
.jmlist2 li {
    width:145px;
    height:22px;
    line-height:22px;
    margin-right:10px;
    overflow:hidden;
    float:left;
}
/*星座排行*/
.xzphlist {
    padding:10px 0;
    font-size:12px;
    border-bottom:#E7CAA7 1px solid;
    clear:both;
}
.xzphlist .img {
    float:left;
    width:60px;
    margin-right:5px;
}
.xzphlist .clist {
    float:left;
    width:530px;
    color:#666;
    margin-right:5px;
}
.xzphlist .clist a {
    color:#F60;
    font-size:14px;
}
.xzphlist .vote {
    float:left;
    width:210px;
    height:80px;
    color:#666;
    background:#f5eace;
    /*border:#e7caa7 solid 1px;
    */
}
.xzphlist .vote .votetit {
    padding-left:5px;
}
.xzphlist .vote .votelist {
    padding-top:5px;
}
.xzphlist .vote .votelist li {
    float:left;
    height:25px;
    line-height:25px;
}
.xzphlist .vote .votelist li img {
    height:25px;
    float:left;
}
/*百家姓*/
.dxlist,.fxlist {
    clear:both;
    line-height:26px;
}
.dxlist span,.fxlist span {
    float:left;
    width:160px;
    padding:0 20px;
}
.dxlist span a {
    float:left;
    font-size:16px;
    padding:0 8px;
    font-family:"Microsoft YaHei";
}
.fxlist span a {
    float:left;
    font-size:16px;
    padding:0 8px;
    font-family:"Microsoft YaHei";
}
/*单列*/
.list1 {
    width:100%;
    padding:0 2em;
}
.list1 ul {
    width:100%;
    margin:10px 0;
}
/*两列*/
.list2 {
    width:100%;
    padding:0 2em;
}
.list2 ul {
    width:50%;
    float:left;
    margin:10px 0;
}
/* 内容页词条 */
.lemma h1{
    margin: 0 10px 0 0;
    font-size: 22px;
    line-height: 1.15;
    padding-top: 15px;
    padding-bottom: 5px;
    vertical-align: sub;
}
.lemma h2{
    font-size: 20px;
    border-left: 12px solid #F8741B;
    line-height: 22px;
    margin: 15px 0 15px -10px;
    clear: both;
    zoom: 1;
    background: url(img/para_title_line.png);
    overflow: hidden;
}
.lemma p{
    margin-bottom:15px;
}
.lemma h2 span{
    color: #856236;
    line-height: 24px;
    float: left;
    padding: 0 8px 0 18px;
    background: #faf3e2;
}
.lemma .lemma-sx-img{
    float:right;
}
